<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Portal</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="loader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">Sports portal</a></div>
            <ul>
                <li><a href="selection.html">Selection Process</a></li>
                <li><a href="recovery.html">Recovery Prediction</a></li>
                <li><a href="coaching.html">Coaching Centre</a></li>
                <li><a href="#calendar">Event Calendar</a></li>
                <li><a href="#guide">Sports Guide</a></li>
                <li><button><a href="login.html">Login</a></button></li>
                <li><button><a href="signup.html">Signup</a></button></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="video-container">
            <video autoplay muted loop id="bg-video">
                <source src="homepagevdo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        
        
    </main>
    <div>
    <h1>Hi</h1></div>
    <footer>
    </footer>

    <script src="script.js"></script>
</body>
</html>
